.siteLayoutContent {
  min-height: 60em;
  padding: 24px;
  background: #fff;
  margin: 2em;
    border-radius: 1.5em;
  height: 60em;
  background: #ffffff;
  width: 100%;
  display: flex;
}
.logo {
  float: right;
  margin: 1em 5em 1em 1em;
  float: left;
  width: 120px;
  height: 31px;
  cursor: pointer;
}
