.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.searchInput {
  width: 35%;
  margin: 2em;
}

.logo{
  width: 26%;
}

@media (max-width: 600px) {
  .searchInput {
    width: 80%;
    margin: 2em;
  }
  .logo{
    width: 70%;
  }
}